#commentsController {
	position: absolute;
	left: 100%;
	top: 0;
	right: -100%;
	bottom: 0;
	background-color: #124c8f;

	transition: transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}

#commentsController > .spinner {
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 5px;
}

#commentsController > #tableView {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 82px;
	background-color: #124c8f;
}

#commentsController #tableView > #cellsContainer {
	padding: 8px;
}

#commentsController > #textInput {
	position: absolute;
	top: 42px;
	left: 8px;
	right: 8px;
	height: 40px;
	border-radius: 0;
	padding: 0 5px 0 5px;
	font-size: 14px;
	background-color: white;
}

#commentsController > #backButton {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 36px;
	background-image: url("../img/common/back-arrow@2x.png");
	background-size: 18px 14px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}

#commentsController.slide {
	transform: translate3d(-100%, 0, 0);
	-webkit-transform: translate3d(-100%, 0, 0);
}