
#cameraController {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#cameraController.black {
	background-color: black;
}

#cameraController.blue {
	background-color: #124c8f;
}

#cameraController.animatedBackground {
	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
}

#cameraController > #mainContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}

#cameraController > #mainContainer.disappear {
	opacity: 0;
}

#cameraController .mainCanvasContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 69px;
	overflow: hidden;
}

#cameraController .uploadContainer {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -25px;
}

#cameraController .spinner {
	position: relative;
	width: 20px;
	height: 24px;
	left: 50%;
	margin-left: -10px;
	margin-top: 5px;
}

#cameraController > #mainContainer > .spinner {
	position: absolute;
	width: 20px;
	height: 24px;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -12px;
}

#cameraController .uploadText {
	margin: auto;
	text-align: center;
	color: white;
	font-size: 18px;
}

#cameraController .whiteButton {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 36px;
	background-color: #ffffff;
	color: #e00127;
	font-size: 10px;
}

#cameraController .backArrow {
	background-image: url("../img/common/back-arrow@2x.png");
	background-size: 18px 14px;
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
}

#cameraController .redButton {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 15px 0 15px;
	height: 36px;
	background-color: #e00127;
	color: #ffffff;
	font-size: 10px;
}

#cameraController #filtersBar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 69px;
	font-size: 0;
	width: 100%;
	border-width: 3px 0 0 0;
	border-style: solid;
	border-color: #181818;
	background-color: #181818;
}

#cameraController .filterCanvasContainer {
	display: inline-block;
	width: 20%;
	height: 69px;
	padding: 0 1px 0 1px;
	position: relative;
}

#cameraController .filterCanvasContainer.extremeLeft {
	padding: 0 0 0 1px;
}

#cameraController .filterCanvasContainer.extremeRight {
	padding: 0 0 0 1px;
}

#cameraController .filterSelection {
	position: absolute;
	left: -9px;
	top: -17px;
	right: -9px;
	bottom: 0;
	border-width: 17px 10px 0 10px;
	border-style: solid;
	border-color: transparent;
	z-index: 2;
}

#cameraController .filterSelection.extremeLeft {
	border-left-width: 0;
	left: 0;
}

#cameraController .filterSelection.extremeRight {
	border-right-width: 0;
	right: 0;
}

#cameraController .filterSelection.selected {
	border-color: #de0023;
}

#cameraController .filterTitle {
	position: absolute;
	left: 0;
	right: 0;
	top: -17px;
	height: 17px;
	font-size: 14px;
	color: transparent;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

#cameraController .filterSelection.selected > .filterTitle {
	color: white;
}

#cameraController .textAreaContainer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -100%;
	top: 100%;
	transition: transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}

#cameraController .textAreaContainer.slide {
	transform: translate3d(0, -100%, 0);
	-webkit-transform: translate3d(0, -100%, 0);
}

#cameraController .textArea {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	height: 185px;
	background-color: #ffffff;
	border-radius: 0;
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: #e00127;
	color: black;
	resize: none;
	padding: 8px;
	font-size: 16px;
	overflow: hidden;
}
